* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
}

ul {
  list-style: none;
}

ul.score-list > li:nth-of-type(odd) {
  background: #e0e0e0;
}